<div class="container vertical-center" ng-controller="LoginCtrl">
    <div class="main-box center-block sc-login-box">

        <h2><b>Welcome!</b></h2>

        <p>Please enter your account details and have fun.</p>

        <form name="registerForm" ng-submit="login(registerForm.$valid)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input ng-model="userData.username" name="username" type="text" class="form-control"
                       placeholder="{{'PLACEHOLDER_LOGIN_IDENTITY' | translate}}" required>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input ng-model="userData.password" type="password" class="form-control"
                       placeholder="{{'PLACEHOLDER_LOGIN_PASSWORD' | translate}}" required>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input ng-model="userData.confirmPassword" type="password" class="form-control"
                       placeholder="{{'PLACEHOLDER_LOGIN_CONFIRM_PASSWORD' | translate}}" required>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary col-xs-12">{{ 'LOGIN' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>