<perfect-scrollbar class="scroll-wrapper">
    <div id="projectExplorer" class="fill-parent" style="padding-bottom: 28px" ng-controller="ContentBrowserTreeCtrl" context-menu="contextMenuOptions" ng-mouseup="baseContainerClick()">

        <!-- tree node template -->
        <script type="text/ng-template" id="nodeTemplate.html">

            <!-- node header -->
            <div ng-class="{'selected' : isSelected()}" ng-if="node.type === 'directory'">
                <!-- directories -->
                <div cz-tree-node-header ng-click="onFolderSelection(node)" context-menu="folderContextMenuOptions(node)" >
                    <span class="fa clickable" ng-click="toggleCollapse()" ng-class="{'fa-folder-open' : !collapsed, 'fa-folder' : collapsed}"></span>

                    <span ng-if="node.attributes.isRenaming == false">{{node.name || "&nbsp;"}}</span>

                    <span ng-if="node.attributes.isRenaming === true">
                        <input type="text" class="form-control sc-input input-night" value="{{node.name}}" select-text />
                    </span>
                </div>

                <!-- files -->
                <!--<div cz-tree-node-header ng-if="node.type === 'file'" context-menu="itemContextMenuOptions(node)" >

                    <span ng-if="node.attributes.isRenaming == false"><i class="fa" ng-class="getFileIcon(node.name)" aria-hidden="true"></i> {{node.name}}</span>

                    <span ng-if="node.attributes.isRenaming === true">
                        <input type="text" class="form-control sc-input input-night" value="{{node.name}}" select-text="{{node.name}}"/>
                    </span>
                </div>-->
            </div>

            <!-- sub nodes -->
            <div cz-tree-nodes ng-class="{'hidden': collapsed}">
                <cz-tree-node ng-repeat="node in node.nodes" attachment="{{node.attributes}}" ng-include="'nodeTemplate.html'"></cz-tree-node>
            </div>

        </script>

        <div>
            <!-- tree root node -->
            <cz-tree on-selection-change="onTreeSelectionChanged(selected)" on-double-click="onTreeDoubleClick(selected)" multiselect="false">
                <cz-tree-node ng-repeat="node in model.tree" attachment="{{node.attributes}}" ng-include="'nodeTemplate.html'"></cz-tree-node>
            </cz-tree>
        </div>

    </div>
</perfect-scrollbar>