.content-wrapper {
  background-color: map-get($default-colors, grey-hound);
  color: map-get($default-colors, dim-white);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: map-get($measure-collection, navbar-height);
  display: flex;

  .toolbar {
    width: map-get($measure-collection, toolbar-width);
    background: darken(map-get($default-colors, grey-hound), 1%);
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        display: block;
        margin: 0;
        float: none;
        text-align: center;
        font-size: 22px;
        height: map-get($measure-collection, toolbar-width) - 20;
        line-height: map-get($measure-collection, toolbar-width) - 20;
        color: map-get($default-colors, light-grey);

        &.active {
          background-color: map-get($default-colors, grey-hound) !important;
          color: map-get($default-colors, dim-white);
        }

        &:hover {
          background-color: darken(map-get($default-colors, grey-hound), 3%);
          cursor: pointer;
        }
      }
    }
  }

  .wrapper-container {

  }
}