.navbar {
  height: map-get($measure-collection, navbar-height);
  position: relative;
  min-height: 0;
  margin-bottom: 0;

  .sc-action-btn {
    padding: 2px 12px;
    margin: 0;
    margin-right: 1px;
    float: left;
    font-size: 1.1em;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: map-get($default-collection, border-radius);
      border-bottom-left-radius: map-get($default-collection, border-radius);
    }

    &:last-child {
      border-top-right-radius: map-get($default-collection, border-radius);
      border-bottom-right-radius: map-get($default-collection, border-radius);
    }
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-logo {
    width: map-get($measure-collection, toolbar-width);
    height: map-get($measure-collection, navbar-height);
    float: left;
    line-height: map-get($measure-collection, navbar-height);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  .navbar-title {
    float: left;
  }

  .navbar-center {
    position: absolute;
    margin-left: 50%;
    margin-top: 8px;
    transform: translateX(-50%);
  }

  .navbar-dropdown,
  .profile-dropdown {
    line-height: map-get($measure-collection, navbar-height);
    padding: 0 10px;
    cursor: pointer;

    .simple-dropdown {
      padding-bottom: 7px;
      line-height: 35px;
    }

    img {
      border-radius: 50%;
      background-clip: padding-box;
      float: left;
      height: 30px;
      margin-right: 5px;
      margin-top: 8px;
      width: 30px;
      border: 2px solid map-get($default-colors, snow-white);
    }
  }

  .navbar-dropdown {
    float: left;
  }

  a {
    cursor: pointer;
  }

  .dropdown-menu {
    color: map-get($default-colors, dirty-gray);
  }

  .navbar-header {
    @include unselectable();

    font-weight: bold;
  }

  .navbar-nav {
    margin: 0;
  }

  .nav {
    .open>a {
      background-color: transparent !important;
      text-decoration: none !important;
    }
    .caret {
      border-bottom-color: map-get($default-colors, snow-white);
      border-top-color: map-get($default-colors, snow-white);
    }
  }

}



