.navbar {
  height: $navbarHeight;

  .container-fluid {
    padding-left: 0px;
  }

  .navbar-logo {
    width: $toolbarWidth;
    height: $navbarHeight;
    float: left;
    line-height: $navbarHeight;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  .navbar-title {
    float: left;
  }

  .profile-dropdown {
    line-height: 50px;
    padding: 0px 10px;

    .simple-dropdown {
      padding-bottom: 7px;
      line-height: 35px;
    }

    img {
      border-radius: 50%;
      background-clip: padding-box;
      float: left;
      height: 35px;
      margin-right: 5px;
      margin-top: 8px;
      width: 35px;
      border: 2px solid $snowWhite;
    }
  }

  a {
    cursor: pointer;
  }

  .dropdown-menu {
    color: $dirtyGrey;
  }

  .navbar-header {
    @include unselectable();

    font-weight: bold;
  }
}

.nav {
  .open>a {
    background-color: transparent !important;
    text-decoration: none !important;
    font-weight: bold;
  }
  .caret {
    border-bottom-color: $snowWhite;
    border-top-color: $snowWhite;
  }
}


