
.sc-login-page {
  background: map-get($default-colors, grey-hound);
  color: map-get($default-colors, snow-white);

  width: 100%;
  height: 100%;

  overflow: hidden;

  .headerInfo {
    font-size: 0.45em;
    color: map-get($default-colors, light-grey);
  }

  a {
    color: map-get($default-colors, medium-grey);
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
  }

  a.important-href {
    font-size: 1.05em;
  }

  a:hover {
    color: map-get($default-colors, light-grey);
  }

  .alert-danger {
    border-color: map-get($default-colors, scarlet);
    color: map-get($default-colors, scarlet);
    padding: 8px;
    border-radius: 2px;
    margin-top: 10px;
  }

  .form-control {
    border-color: map-get($default-colors, dim-grey);
  }

  .has-error .form-control {
    border-color: map-get($default-colors, scarlet);
  }

  .has-error .help-block {
    color: map-get($default-colors, scarlet);
  }

  .form-group {
    margin-bottom: 14px;
  }

  .checkbox-nice label:before {
    background: map-get($default-colors, dim-grey);
    border-color: map-get($default-colors, dim-grey);
  }

  .checkbox-nice label:after {
    border-color: map-get($default-colors, scarlet);
  }

  .row {
    width: 100%;
  }

  .btn-dark {
    border: 1px solid map-get($default-colors, grey);
    background-color: map-get($default-colors, grey-hound);
    color: map-get($default-colors, snow-white);
    padding-top: map-get($default-collection, padding);
    padding-bottom: map-get($default-collection, padding);
  }

  .btn-dark:hover {
    background-color: map-get($default-colors, grey);
  }

  .form-control.input-dark {
    background: map-get($default-colors, dim-grey);
    color: map-get($default-colors, snow-white);
    height: auto;
    padding-top: map-get($default-collection, padding);
    padding-bottom: map-get($default-collection, padding);
  }

  h2 {
    padding: 0;
    margin-bottom: 4px;
  }

  .sc-login-container {
    max-width: 960px;
    margin: 0 auto;

    .row,
    .input-group,
    .checkbox-nice {
      margin-bottom: 6px;
    }
  }

  .sc-login-box {
    position: relative;
    width: 400px;
    padding: 20px;
  }
}