
.sc-login-page {
  background: $greyHound;
  color: $snowWhite;

  width: 100%;
  height: 100%;

  overflow: hidden;

  .headerInfo {
    font-size: 0.45em;
    color: $lightGrey;
  }

  a {
    color: $mediumGrey;
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
  }

  a.important-href {
    font-size: 1.05em;
  }

  a:hover {
    color: $lightGrey;
  }

  .alert-danger {
    border-color: $scarlet;
    color: $scarlet;
    padding: 8px;
    border-radius: 2px;
    margin-top: 10px;
  }

  .form-control {
    border-color: $dimGrey;
  }

  .has-error .form-control {
    border-color: $scarlet;
  }

  .has-error .help-block {
    color: $scarlet;
  }

  .form-group {
    margin-bottom: 14px;
  }

  .checkbox-nice label:before {
    background: $dimGrey;
    border-color: $dimGrey;
  }

  .checkbox-nice label:after {
    border-color: $scarlet
  }

  .row {
    width: 100%;
  }

  .btn-dark {
    border: 1px solid $grey;
    background-color: $greyHound;
    color: $snowWhite;
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
  }

  .btn-dark:hover {
    background-color: $grey;
  }

  .form-control.input-dark {
    background: $dimGrey;
    color: $snowWhite;
    height: auto;
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
  }

  h2 {
    padding: 0;
    margin-bottom: 4px;
  }

  .sc-login-container {
    max-width: 960px;
    margin: 0 auto;

    .row,
    .input-group,
    .checkbox-nice {
      margin-bottom: 6px;
    }
  }

  .sc-login-box {
    position: relative;
    width: 400px;
    padding: 20px;
  }
}