$border-radius: 4px;
$default-padding: 10px;

$default-collection: (
        padding: 10px,
        border-radius: 4px
);

$measure-collection: (
        navbar-height: 44px,
        toolbar-width: 56px
);

$default-colors: (
        scarlet: #e84e40,
        grey-hound: #2c2e2f,
        snow-white: #fff,
        medium-grey: #666,
        dirty-grey: #707070,
        dim-grey: #313334,
        grey: #37393A,
        light-grey: #888,
        fade-white: #f3f5f6,
        dim-white: #e3e3e3
);
