body {
  background-image: none;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.left-padding {
  padding-left: map-get($default-collection, padding);
}

.on-error {
  display: none;
}

.has-error .on-error {
  display: block;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.text-grey {
  color: map-get($default-colors, medium-grey);
}

.text-scarlet {
  color: map-get($default-colors, scarlet);
}

.align-left {
  float: left;
}

.horizontal-space {
  width: 40px;
  height: 1px;
}

.gutter {
  width: 5px !important;
  background-color: lighten(map_get($default-colors, grey-hound), 2%);
}