
#projectExplorer {

  input.form-control.sc-input.input-night {
    background: hsla(200,4%,30%,1);
    color: map-get($default-colors, fade-white);
    width: 100%;
    text-decoration: underline;
    display: inline;
    padding: 1px 2px;
    border: none;
    border-radius: 0;
    margin: 0;
  }

}


