
.angular-ui-tree {
  padding: 10px;
  font-size: $sub-font-size;
}

.angular-ui-tree-handle {
  font-weight: normal;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.angular-ui-tree-selector {
  cursor: pointer;
}