.lm_goldenlayout {
  background-color: map-get($default-colors, grey-hound);
}

.lm_header {
  background-color: darken(map-get($default-colors, grey-hound), 1);
}
.lm_item.lm_row {
  background-color:darken(map-get($default-colors, grey-hound), 1);
}
.li.lm_tab,
.lm_header .lm_tab.lm_active{
  box-shadow: none;
  background-color: map-get($default-colors, grey-hound)
}
.lm_header .lm_tab {
  box-shadow: none;
  padding-bottom: 3px;
  background-color: darken(map-get($default-colors, grey-hound), 1);
}
.lm_maximised .lm_header {
  background-color: map-get($default-colors, grey-hound);
}
.lm_content {
  color:  map-get($default-colors, fade-grey);
  background-color: map-get($default-colors, grey-hound);
}