.navbar {
  color: map-get($default-colors, snow-white);
  background: $primaryColor;
  border: none;
  border-radius: 0;

  .sc-action-btn {
    background: lighten($primaryColor, 12%);

    &.selected,
    &:hover {
      background: lighten($primaryColor, 22%);
    }

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed !important;

      &.selected,
      &:hover {
        background: lighten($primaryColor, 12%);
      }
    }
  }

  a {
    color: map-get($default-colors, snow-white);

    &:hover {
      text-decoration: none;
    }
  }

  .nav {
    .open {
      background: darken($primaryColor, 5%);
    }
  }

  .navbar-dropdown,
  .profile-dropdown {
    &:hover {
      background: darken($primaryColor, 5%);
    }
  }

  .dropdown-menu {
    a {
      color: map-get($default-colors, dirty-grey);
    }
  }
}