.navbar {
  color: map-get($default-colors, snow-white);
  background: darken(map-get($default-colors, grey-hound), 1);
  border: none;
  border-radius: 0;

  .sc-action-btn {
    background: lighten(map-get($default-colors, grey-hound), 12%);

    &.selected,
    &:hover {
      background: lighten(map-get($default-colors, grey-hound), 22%);
    }

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed !important;

      &.selected,
      &:hover {
        background: lighten(map-get($default-colors, grey-hound), 12%);
      }
    }
  }

  a {
    color: map-get($default-colors, snow-white);

    &:hover {
      text-decoration: none;
    }
  }

  .nav {
    .open {
      background: darken(map-get($default-colors, grey-hound), 5%);
    }
  }

  .navbar-dropdown,
  .profile-dropdown {
    &:hover {
      background: darken(map-get($default-colors, grey-hound), 5%);
    }
  }

  .dropdown-menu {
    a {
      color: map-get($default-colors, dirty-grey);
    }

    li.disabled {
      a  {
        color: map-get($default-colors, fade-grey);
      }
    }
  }
}