<div class="peEditorDisplayName">
    {{property.displayName}}
</div>
<div class="peEditorValues" ng-controller="ColorCtrl">
    <!-- color preview -->
    <div class="form-control sc-input input-night color-preview" ng-class="{'inconclusive' : hasMultipleDefinitions()}" ng-style="getPreviewStyle()" style="margin-bottom: 6px">
        <div class="color-preview-alpha" ng-style="getPreviewStyleNoAlpha()"></div>
    </div>

    <!-- row holder for rgba values -->
    <div class="row">
        <div class="col-md-3">
            <span class="stack-item right-padding">R</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('r')}"
                        ng-change="onValueChange('r')" ng-model="model.bind.r" placeholder="">
            </span>
        </div>
        <div class="col-md-3">
            <span class="stack-item right-padding">G</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('g')}"
                        ng-change="onValueChange('g')" ng-model="model.bind.g" placeholder="">
            </span>
        </div>
        <div class="col-md-3">
            <span class="stack-item right-padding">B</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('b')}"
                        ng-change="onValueChange('b')" ng-model="model.bind.b" placeholder="">
            </span>
        </div>
        <div class="col-md-3">
            <span class="stack-item right-padding">A</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('a')}"
                        ng-change="onValueChange('a')" ng-model="model.bind.a" placeholder="">
            </span>
        </div>
    </div>
</div>