<div class="peEditorDisplayName" title="{{::property.displayName}}">
    {{property.displayName}}
</div>
<div class="peEditorValues" ng-controller="ColorCtrl">
    <!-- color preview -->
    <div class="form-control sc-input input-night color-preview" colorpicker="rgba" ng-change="onColorChanged(rgbaPicker.color)" colorpicker-with-input="true" colorpicker-size="150" colorpicker-no-preview="true" ng-model="rgbaPicker.color" ng-class="{'inconclusive' : hasMultipleDefinitions()}"  style="margin-bottom: 6px; background-color:{{rgbaPicker.color}};">
        <div class="color-preview-alpha" ng-style="getPreviewStyleNoAlpha()"></div>
    </div>

    <!-- row holder for rgba values -->
    <div class="row">
        <div class="col-md-3">
            <span class="stack-item right-padding">R</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text" ng-readonly="property.readOnly"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('r')}"
                        ng-change="prepareChange('r')" ng-model="color.r" placeholder="">
            </span>
        </div>
        <div class="col-md-3">
            <span class="stack-item right-padding">G</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text" ng-readonly="property.readOnly"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('g')}"
                        ng-change="prepareChange('g')" ng-model="color.g" placeholder="">
            </span>
        </div>
        <div class="col-md-3">
            <span class="stack-item right-padding">B</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text" ng-readonly="property.readOnly"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('b')}"
                        ng-change="prepareChange('b')" ng-model="color.b" placeholder="">
            </span>
        </div>
        <div class="col-md-3">
            <span class="stack-item right-padding">A</span>
            <span class="stack-fill">
                <input
                        type="number" class="form-control sc-input input-night center-text" ng-readonly="property.readOnly"
                        ng-class="{'inconclusive' : hasMultipleDefinitions('a')}"
                        ng-change="prepareChange('a')" ng-model="color.a" placeholder="">
            </span>
        </div>
    </div>
</div>