/* 'sc' prefix means scarlett specific content styles */

.sc-login-box {
    position: relative;
    width: 400px;
    padding: 20px;
}

.sc-login-box .input-group,
.sc-login-box .row {
    margin-bottom: 10px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}