<div class="sc-login-page">
    <div class="container sc-login-container vertical-center animated fadeIn" ng-controller="LoginCtrl">
        <div class="row">
            <div class="col-sm-6">
                <h2><b><span class="text-scarlet">{{'PRODUCT_TITLE' | translate}}</span> {{'GAME_STUDIO' |
                    translate}}</b> <span class="headerInfo">{{'LOGIN' | translate}}</span></h2>

                <p class="text-gray">Welcome! Please enter your credentials and have fun!</p>
                <br/>

                <form name="loginForm" ng-submit="login(loginForm.$valid)">

                    <div class="form-group">
                        <input type="text" class="form-control input-dark" id="username" name="username"
                               ng-model="auth.username"
                               autocomplete="on" placeholder="{{'PLACEHOLDER_LOGIN_IDENTITY' | translate}}" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-dark" id="password" name="password"
                               ng-model="auth.password"
                               autocomplete="on" placeholder="{{'PLACEHOLDER_LOGIN_PASSWORD' | translate}}" required>
                    </div>

                    <div class="checkbox-nice">
                        <input ng-model="auth.remember" type="checkbox" id="remember-me">
                        <label for="remember-me" class="text-gray">
                            {{ 'REMEMBER_ME' | translate }}
                        </label>
                    </div>

                    <br/>
                    <button type="submit" class="btn btn-dark btn-block text-left">
                        <i class="fa fa-sign-in"></i> &nbsp;{{ 'LOGIN' | translate }}
                    </button>

                    <br/>

                    <a ng-click="changeView('register')" class="important-href text-bold left-padding">
                        <i class="fa fa-plus-circle"></i> {{ 'CREATE_NEW_ACCOUNT' | translate }}
                    </a> <br/>
                    <a ng-href="forgot-password.html" class="left-padding">
                        {{ 'FORGOT_PASSWORD' | translate }}
                    </a>
                </form>
            </div>
        </div>

    </div>
</div>